# Introduction

#### As ISIS has been pushed back from the territories they earned, other groups (some associated with ISIS) have moved on to different different countries and different continents. One of the continents that has had an influx in terrorist activity over the years is Africa. New branches of ISIS, Al-Qaida and new islamic terrorist groups have been formed and have been increasing in attacks and numbers. They have learned from the examples set by the Islamic terrorist groups based in the Middle East, and are improving their techniques. Determining the effectiveness of certain groups and their areas can be used to aid in determining how much of a threat they will pose into the future, without more intervention.

# Questions

### The questions that will be answered at the end of this report include:
* Which countries have the highest percentage increase in terrorist incidents from 2010 - 2018 (most recent available data)?
* Are terrorist groups in Africa becoming more aggressive compared to their Middle Eastern counterparts?
* What is the likelihood that African terrorist groups will increase in terrorist incidents and deaths without more intervention?

# Data

#### The data used in this came from the GTD (Global Terrorism Database) from the University of Maryland: Study of Terrorism and Responses to Terrorism (START)
#### Due to the large amount of Islamic terrorist groups within the areas, the data has been condensed to include only the more reputable and violent terrorist groups in these regions, which include: Taliban, ISGS, ISIS, AQIM,Al-Qaida.
#### The below dataframe is to show the data that will be used in this report. In order to compare the countries in highest perecentage of increases in incidents, data from each country leveraged against the incidents over the years available to determine the percentage increase.
#### Determining the effectiveness of certain groups and their areas can be used to determine how much of a threat they will pose into the future.
#### Taking the countries listed below and combining them with the specific groups with the deaths to incidents to come up with the result of the groups and their counterparts' 'aggressivness'. For example, taking ISGS (Islamic state in the Greater Sahara) compared with the incidents with ISI/ISIL (Islamic state in iraq and Islamic state of Iraq and the Levant). ISI and ISIL are the same group, but their ISI became ISIL as they gained more territory, ISIS is also the same group for reference.
#### Comparing all of the incidents and deaths by region, and groups that occupy their regions, to determine which regions (Sub-Saharan Africa, South Asia, Middle East, North Africa) are becoming more violent

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:

import types
import pandas as pd
from botocore.client import Config 
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_72664cce2b4d4fb3b27854367823008f = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='beo4TntZ11cb4BzIq2GELDgYxx_xof62j_8R2_cc-l9p',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_72664cce2b4d4fb3b27854367823008f.get_object(Bucket='capstonedsproject-donotdelete-pr-fmytwfnljpwzts',Key='capstone_ds_coursera.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,eventid,iyear,imonth,iday,country_txt,region,region_txt,city,latitude,longitude,attacktype1_txt,gname,nkill
0,201001010002,2010,1,1,Afghanistan,6,South Asia,Dwah Mande,33.469444,69.620278,Bombing/Explosion,Taliban,4.0
1,201001100001,2010,1,10,Afghanistan,6,South Asia,Dawlatabad,36.420551,64.893890,Bombing/Explosion,Taliban,4.0
2,201001160003,2010,1,16,Afghanistan,6,South Asia,NaN,36.079561,64.905955,Hostage Taking (Kidnapping),Taliban,0.0
3,201001170001,2010,1,17,Afghanistan,6,South Asia,NaN,34.176874,61.700565,Assassination,Taliban,6.0
4,201001180004,2010,1,18,Afghanistan,6,South Asia,Jalalabad,34.417122,70.449593,Bombing/Explosion,Taliban,0.0